/*This are comments*/

/*Main Section*/
body{background:#e9e5e5;}

#page-wrapper{
    border:1px solid green;
    width: 80%;
    margin:0px auto;
}

header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul li{
    display:inline;
}